.button {
    display: inline-block;
    border-radius: 8px;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 19px;
    text-align: center;
    color: #FFFFFF;
    padding: 15px 56px 14px;
    transition: var: (--transition_all);
    box-sizing: border-box;
    height: 48px;
}

.button:disabled {
    pointer-events: none;
    opacity: 0.5;
}

.button_primary {
    background-color: var(--primary-background-color);
    border: 1px solid #ACB5BD;
}

.button_primary:hover {
    background-color: #2342C0;
    border: 1px solid #212429;
}

.button_secondary {
    background-color: var(--secondary-background-color);
}

.button_secondary:hover {
    background-color: #5028C6;
}

.button_alternate {
    background-color: var(--alternate-background-color);
    color: var(--alternate-color);
}

.button_alternate:hover {
    background-color: var(--alternate-background-color);
    color: var(--alternate-color);
    border: 1px solid #212429;
}
