.footer {
    height: 200px;
    background-color: var(--white);
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    text-align: center; 
    color: #212429;
    font-family: Inter, sans-serif;
}

.footer__text {
    text-align: center;
}