.forest {
    background-image: url(public/forest_400.jpg);
    background-position: center;
    background-size: cover;
    width: 400px;
    height: 100%;
}

@media screen and (min-width: 768px) {
    .forest {
    background-image: url(public/forest_768.jpg);
    background-position: center;
    background-size: cover;
    width: 768px;
    height: 100%;
    }
}

@media screen and (min-width: 1024px) {
    .forest {
    background-image: url(public/forest_1024.jpg);
    background-position: center;
    background-size: cover;
    width: 1024px;
    height: 100%;
    }
}

@media screen and (min-width: 2560px) {
    .forest {
    background-image: url(public/forest_2560.jpg);
    background-position: center;
    background-size: cover;
    width: 2560px;
    height: 100%;
    }
}